*.agdai
MAlonzo/**
SmallDjangoProject/DjangoDemo1/DjangoDemo1/client_secret_903742864544-n01bjr0fomu6n4j11iqv52os9bg0qalo.apps.googleusercontent.com.json
SmallDjangoProject/DjangoDemo1/DjangoDemo1/client_secret_903742864544-n01bjr0fomu6n4j11iqv52os9bg0qalo.apps.googleusercontent.com.json
SmallDjangoProject/DjangoDemo1/DjangoDemo1/client_secret_903742864544-n01bjr0fomu6n4j11iqv52os9bg0qalo.apps.googleusercontent.com.json
SmallDjangoProject/DjangoDemo1/DjangoDemo1/client_secret_903742864544-n01bjr0fomu6n4j11iqv52os9bg0qalo.apps.googleusercontent.com.json
