<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Template HTML Home - AppDjDemo1</title>
  {% comment %} <link rel="stylesheet" href="{% static 'AppDjDemo1/css/styles.css' %}"> {% endcomment %}
</head>
<body>
  <header>
    <h1>Welcome to AppDjDemo1 Home Template</h1>
    <nav>
      <ul>
        <li><a >Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Homepage</h2>
    <p>This is the homepage of AppDjDemo1. Feel free to explore the site.</p>
  </main>
  <footer>
    <p>&copy; 2023 AppDjDemo1. All rights reserved.</p>
  </footer>
</body>
</html>